/* Sidebar */
#wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -250px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #343a40;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    flex: 1;
    width: 100%;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -250px;
    }
}

/* Custom styles */
body {
    overflow-x: hidden;
}

.sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.list-group-item {
    padding: 0.75rem 1.25rem;
}

.card {
    margin-bottom: 1rem;
}
